.main-section {
	height: 100%;
}
.section {
	display: block;
	box-sizing: border-box;
	height: 50%;
	width: 100%;
	min-height: 260px;
	position: relative;
	text-align: center;
	background: #FFF;
}
.section h1, .section h2, .section h3, .section p {
	top: 48%;
	margin: 0px auto;
	position: relative;
	font-size: 16px;
	line-height: 1.4em;
}
.cat {
	width: 100%;
	height: 100%;
	min-height: 260px;
	background-position: 50% 50%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 25vmin auto;
}
.section#end {
	display: none;
	background: white !important;
	color: black;
}
.section:nth-child(odd) .cat {
	background-color: #fff !important;
}
.section:nth-child(even) .cat {
	background-color: #eee !important;
}
.section .cat.end {
	background-color: white !important;
}
.cat.f00, body.mobile.f00::before {
	background-image: url(../img/shapes/shapes00000.png);
}
.cat.f01, body.mobile.f01::before {
	background-image: url(../img/shapes/shapes00001.png);
}
.cat.f02, body.mobile.f02::before {
	background-image: url(../img/shapes/shapes00002.png);
}
.cat.f03, body.mobile.f03::before {
	background-image: url(../img/shapes/shapes00003.png);
}
.cat.f04, body.mobile.f04::before {
	background-image: url(../img/shapes/shapes00004.png);
}
.cat.f05, body.mobile.f05::before {
	background-image: url(../img/shapes/shapes00005.png);
}
.cat.f06, body.mobile.f06::before {
	background-image: url(../img/shapes/shapes00006.png);
}
.cat.f07, body.mobile.f07::before {
	background-image: url(../img/shapes/shapes00007.png);
}
.cat.f08, body.mobile.f08::before {
	background-image: url(../img/shapes/shapes00008.png);
}
.cat.f09, body.mobile.f09::before {
	background-image: url(../img/shapes/shapes00009.png);
}
.cat.f10, body.mobile.f10::before {
	background-image: url(../img/shapes/shapes00010.png);
}
.cat.f11, body.mobile.f11::before {
	background-image: url(../img/shapes/shapes00011.png);
}
.cat.f12, body.mobile.f12::before {
	background-image: url(../img/shapes/shapes00012.png);
}
.cat.f13, body.mobile.f13::before {
	background-image: url(../img/shapes/shapes00013.png);
}
.cat.f14, body.mobile.f14::before {
	background-image: url(../img/shapes/shapes00014.png);
}
.cat.f15, body.mobile.f15::before {
	background-image: url(../img/shapes/shapes00015.png);
}
.cat.f16, body.mobile.f16::before {
	background-image: url(../img/shapes/shapes00016.png);
}
.cat.f17, body.mobile.f17::before {
	background-image: url(../img/shapes/shapes00017.png);
}
.cat.f18, body.mobile.f18::before {
	background-image: url(../img/shapes/shapes00018.png);
}
.cat.f19, body.mobile.f19::before {
	background-image: url(../img/shapes/shapes00019.png);
}
.cat.f20, body.mobile.f20::before {
	background-image: url(../img/shapes/shapes00020.png);
}
.cat.f21, body.mobile.f21::before {
	background-image: url(../img/shapes/shapes00021.png);
}
.cat.f22, body.mobile.f22::before {
	background-image: url(../img/shapes/shapes00022.png);
}
.cat.f23, body.mobile.f23::before {
	background-image: url(../img/shapes/shapes00023.png);
}
.cat.f24, body.mobile.f24::before {
	background-image: url(../img/shapes/shapes00024.png);
}
.cat.f25, body.mobile.f25::before {
	background-image: url(../img/shapes/shapes00025.png);
}
.cat.f26, body.mobile.f26::before {
	background-image: url(../img/shapes/shapes00026.png);
}
.cat.f27, body.mobile.f27::before {
	background-image: url(../img/shapes/shapes00027.png);
}
.cat.f28, body.mobile.f28::before {
	background-image: url(../img/shapes/shapes00028.png);
}
.mobile .cat {
	background-image: none;
}
.mobile .section {
	height: 80%;
}
.mobile .section#end {
	height: 100%;
}
body #mobile-offset {
	display: none;
}
body.mobile {
	-webkit-transition:height .1s ease-in;
	-moz-transition:height .1s ease-in;
	-o-transition:height .1s ease-in;
	transition:height .1s ease-in;
}
body.mobile::before {
	content: "";
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index:1;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 30vmin auto;
	-webkit-transition:background-position .3s ease-in;
	-moz-transition:background-position .3s ease-in;
	-o-transition:background-position .3s ease-in;
	transition:background-position .3s ease-in;
}
body.mobile::after{
  position:absolute; 
  width:0; 
  height:0; 
  overflow:hidden; 
  z-index:-1;
  content: url(../img/shapes/shapes00000.png) url(../img/shapes/shapes00001.png) url(../img/shapes/shapes00002.png)
  url(../img/shapes/shapes00003.png) url(../img/shapes/shapes00004.png) url(../img/shapes/shapes00005.png)
  url(../img/shapes/shapes00006.png) url(../img/shapes/shapes00007.png) url(../img/shapes/shapes00008.png)
  url(../img/shapes/shapes00009.png) url(../img/shapes/shapes00010.png) url(../img/shapes/shapes00011.png)
  url(../img/shapes/shapes00012.png) url(../img/shapes/shapes00013.png) url(../img/shapes/shapes00014.png)
  url(../img/shapes/shapes00015.png) url(../img/shapes/shapes00016.png) url(../img/shapes/shapes00017.png)
  url(../img/shapes/shapes00018.png) url(../img/shapes/shapes00019.png) url(../img/shapes/shapes00020.png)
  url(../img/shapes/shapes00021.png) url(../img/shapes/shapes00022.png) url(../img/shapes/shapes00023.png)
  url(../img/shapes/shapes00024.png) url(../img/shapes/shapes00025.png) url(../img/shapes/shapes00026.png)
  url(../img/shapes/shapes00027.png) url(../img/shapes/shapes00028.png);
}
body.mobile h1, body.mobile h2, body.mobile h3, body.mobile h4, body.mobile p {
	z-index: 2;
}
body.mobile #mobile-offset {
	display: block;
	box-sizing: border-box;
	height: 50%;
	width: 100%;
	min-height: 260px;
	position: relative;
	text-align: center;
	background: #FFF;
}
@media screen and (min-width: 920px) {
  .section h1, .section h2, .section h3, .section p {
    font-size: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .section h1, .section h2, .section h3, .section p {
    font-size: 32px;
  }
}
@media screen and (min-width: 1600px) {
  .section h1, .section h2, .section h3, .section p {
    font-size: 38px;
  }
}
@media screen and (min-width: 2100px) {
  .section h1, .section h2, .section h3, .section p {
    font-size: 42px;
  }
}
