.section {
    display: flex;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    min-height: 260px;
    position: relative;
    text-align: center;
    background: #FFF;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section h1, .section h2, .section h3, .section p {
    margin: 0px auto;
    font-size: 16px;
    line-height: 1.4em;
    margin-top: 2em;
}

.section p:last-of-type{
    margin-top: 1em;
}

/* line 707, ../sass/screen.scss */
.browser {
    padding: 35px 1px 1px;
    margin: 40px auto;
    width: 640px;
    height: auto;
    overflow: hidden;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    position: relative;
    -webkit-transition: width 800ms, height 800ms, padding 100ms;
    -moz-transition: width 800ms, height 800ms, padding 100ms;
    -o-transition: width 800ms, height 800ms, padding 100ms;
    -ms-transition: width 800ms, height 800ms, padding 100ms;
    transition: width 800ms, height 800ms, padding 100ms;
  }
  
  /* line 744, ../sass/screen.scss */
  .browser .title {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 5px;
    font-size: 14px;
    color: #666;
    -webkit-transition: opacity 200ms;
    -o-transition: opacity 200ms;
    -moz-transition: opacity 200ms;
    -ms-transition: opacity 200ms;
    transition: opacity 200ms;
    margin: 0;
  }
  
  /* line 759, ../sass/screen.scss */
  .browser .ui {
    position: absolute;
    top: 7px;
    left: 10px;
    margin: 0;
    padding: 0;
  }
  
  /* line 767, ../sass/screen.scss */
  .browser .ui li {
    display: inline-block;
    width: 11px;
    height: 11px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
    position: relative;
  }
  
  /* line 780, ../sass/screen.scss */
  .browser .ui .close {
    background: #FF5011;
  }
  
  /* line 784, ../sass/screen.scss */
  .browser .ui .close:active {
    background: #CC3300;
  }
  
  /* line 788, ../sass/screen.scss */
  .browser .ui .min {
    background: #ffc000;
  }
  
  /* line 792, ../sass/screen.scss */
  .browser .ui li:hover:after {
    content: "";
    width: 7px;
    height: 7px;
    border-radius: 4px;
    background: black;
    opacity: 0.5;
    position: absolute;
    top: 2px;
    left: 2px;
  }
  
  /* line 804, ../sass/screen.scss */
  .browser .ui .max {
    background: #4EE949;
  }
  
  /* line 808, ../sass/screen.scss */
  .browser .ui .max:active {
    background: #3EBA3A;
  }
  
  /* line 813, ../sass/screen.scss */
  .browser .window {
    position: relative;
    height: auto;
    width: auto;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-transition: height 800ms;
    -moz-transition: height 800ms;
    -o-transition: height 800ms;
    -ms-transition: height 800ms;
    transition: height 800ms;
  }
  
  /* line 826, ../sass/screen.scss */
  .browser img {
    display: block;
  }
  
  /* line 830, ../sass/screen.scss */
  video {
    position: relative;
    -webkit-transition: height 800ms, width 800ms;
    -moz-transition: height 800ms, width 800ms;
    -o-transition: height 800ms, width 800ms;
    -ms-transition: height 800ms, width 800ms;
    transition: height 800ms, width 800ms;
  }
  
  /* line 839, ../sass/screen.scss */
  .play {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/play_btn.png) no-repeat center center;
    z-index: 50;
    cursor: pointer;
  }
  
  /* line 848, ../sass/screen.scss */
  .play.playing {
    background-image: none;
  }
  
  /* line 852, ../sass/screen.scss */
  .browser video {
    background: #000;
    height: auto;
    width: 640px;
    display: block;
    -webkit-transition: height 800ms, width 800ms;
    -moz-transition: height 800ms, width 800ms;
    -o-transition: height 800ms, width 800ms;
    -ms-transition: height 800ms, width 800ms;
    transition: height 800ms, width 800ms;
  }
  
  /* line 868, ../sass/screen.scss */
  .browser img {
    width: 100%;
    height: auto;
  }

@media only screen and (min-width: 321px) and (max-width: 640px) {
/* line 1028, ../sass/screen.scss */
    .section h1, .section h2, .section h3, .section p {
        font-size: 16px;
    }
}

@media only screen and (min-width: 480px) {
    /* line 980, ../sass/screen.scss */
    .section h1, .section h2, .section h3, .section p {
        width: auto;
        font-size: 3.09vmin;
    }
}